<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="fragments/head :: common"></th:block>
    <title>공지사항</title>
</head>
<body class="ui grid">
<div class="ui container eleven wide column main-container" style="padding: 50px 0">
    <div class="ui inverted menu">
        <a th:href="@{/notices}" class="active item">
            공지사항
        </a>
        <a sec:authorize="hasRole('ROLE_USER')" th:href="@{'/users/'+ ${#authentication.principal.id}}"
           class="item">
            내정보
        </a>
        <a sec:authorize="!isAuthenticated()" th:href="@{/session}" class="item">
            로그인
        </a>
        <a sec:authorize="!isAuthenticated()" th:href="@{/users}" class="item">
            회원가입
        </a>
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="item">
            로그아웃
        </a>
        <span sec:authorize="isAuthenticated()" sec:authentication="principal.username" class="right item"></span>
    </div>


    <hr>
    <div class="ui segment">
        <div class="ui comments">
            <div class="comment">
                <div class="content">
                    <a class="author" th:text="'글쓴이 : '+${notice.user.nickName}"></a>
                    <div class="metadata">
                        <div class="date" th:text="'작성일 : '+${notice.registerDate}"></div>
                        <div class="date" th:text="'최종 수정일 : '+${notice.registerDate}"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui clearing divider"></div>

        <div class="ui message">
            <div class="header">
                <p th:text="${notice.title}"></p>
            </div>
        </div>

        <div class="ui message" style="min-height: 150px">
            <p th:text="${notice.noticeContent.content}"></p>
        </div>
    </div>
    <div>
        <a th:href="@{/edit}" class="right floated ui primary button"><i class="icon edit"></i>글쓰기</a>

        <a th:href="@{'/edit/' + ${notice.id}}" class="left floated ui button">수정</a>
        <form style="display: inline" th:method="DELETE" th:action="@{'/notices/' + ${notice.id}}">
            <button type="submit" class="left floated ui red button">삭제</button>
        </form>
    </div>


</div>
</body>
</html>