<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
    <script src="/webjars/Semantic-UI/2.4.1/semantic.min.js"></script>
    <link rel="stylesheet" href="/webjars/Semantic-UI/2.4.1/semantic.min.css">
    <title>공지사항</title>
</head>
<body>
Hello
<div id="noticePage">

</div>
</body>

<script type="text/javascript">
    $(window).on('load', getNoticePage());

    function getNoticePage(page) {
        if (page == null) {
            page = 0;
        }

        $.ajax({
            url: "/api/notices?page=" + page,
            type: "GET",
            success: function (noticePage) {
                $('#noticePage').text(noticePage);
            },
            error: function (jqXHR) {
                if (jqXHR.status === 400) {
                    alert("입력값이 올바르지 않습니다.");
                } else if (jqXHR.status === 500) {
                    alert("서버의 문제가 발생했습니다.");
                }
            }
        });
    }
</script>
</html>