<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="fragments/head :: common"></th:block>
    <title>공지사항</title>
</head>
<body class="ui grid">
<div class="ui container eleven wide column main-container" style="padding: 50px 0">
    <div class="ui inverted menu">
        <a th:href="@{/notices}" class="active item">
            공지사항
        </a>
        <a sec:authorize="!isAuthenticated()" th:href="@{/session}" class="item">
            로그인
        </a>
        <a sec:authorize="!isAuthenticated()" th:href="@{/users}" class="item">
            회원가입
        </a>
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="item">
            로그아웃
        </a>
        <span sec:authorize="isAuthenticated()" sec:authentication="principal.username" class="right item"></span>
    </div>


    <table class="ui selectable black striped celled padded table">
        <thead>
        <tr>
            <th class="one wide center aligned">번호</th>
            <th class="ten wide center aligned">제목</th>
            <th class="two wide center aligned">글쓴이</th>
            <th class="three wide center aligned">작성일자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="notice : ${noticePage.content}">
            <td th:text="${notice.id}" class="center aligned"></td>
            <td class="center aligned">
                <a th:href="@{'/notices/'+${notice.id}}" th:text="${notice.title}"></a>
            </td>
            <td th:text="${notice.user.nickName}" class="center aligned"></td>
            <td th:text="${notice.registerDate.toLocalDate()}" class="center aligned"></td>
        </tr>
        </tbody>
    </table>
    <div>
        <a th:href="@{/edit}" class="right floated ui primary button"><i class="icon edit"></i>글쓰기</a>
    </div>

    <div class="ui pagination menu">
        <th:block th:if="${pageNav.previousPaging != null}">
            <div class="item">
                <a th:href="@{/notices(page=1)}">첫페이지</a>
            </div>
            <div class="item">
                <a th:href="@{/notices(page=${pageNav.previousPaging} + 1)}"><i class="angle double left icon"></i></a>
            </div>
        </th:block>

        <th:block th:each="i: ${#numbers.sequence(pageNav.startPageNum, pageNav.lastPageNum)}">
            <div th:if="${noticePage.number == i}" class="active item">[[${i}+1]]</div>
            <div th:unless="${noticePage.number == i}" class="item">
                <a th:href="@{/notices(page=${i}+1)}">[[${i}+1]]</a>
            </div>
        </th:block>

        <th:block th:if="${pageNav.nextPaging != null}">
            <div class="item">
                <a th:href="@{/notices(page=${pageNav.nextPaging} + 1)}"><i class="angle double right icon"></i></a>
            </div>
            <div class="item">
                <a th:href="@{/notices(page=${noticePage.totalPages})}">끝페이지</a>
            </div>
        </th:block>
    </div>
</div>
</body>
<script>
    var urlParams;
    (window.onpopstate = function () {
        var match,
            pl = /\+/g,  // Regex for replacing addition symbol with a space
            search = /([^&=]+)=?([^&]*)/g,
            decode = function (s) {
                return decodeURIComponent(s.replace(pl, " "));
            },
            query = window.location.search.substring(1);

        urlParams = {};
        while (match = search.exec(query))
            urlParams[decode(match[1])] = decode(match[2]);

        checkAuthError();
    })();

    function checkAuthError() {
        if (urlParams["auth-error"]) {
            alert("권한이 없습니다.")
        }
    }
</script>
</html>