<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
</head>
<body>
Hello
<ul>
    <li sec:authorize="isAuthenticated()"><span sec:authentication="principal.username"></span></li>
    <li><a th:href="@{/notices}">공지사항</a></li>
    <li sec:authorize="hasRole('ROLE_USER')">
        <a th:href="@{'/users/'+ ${#authentication.principal.id}}">내정보</a>
    </li>
    <li sec:authorize="!isAuthenticated()"><a th:href="@{/users}">회원가입</a></li>
    <li sec:authorize="!isAuthenticated()"><a th:href="@{/session}">로그인</a></li>
    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">로그아웃</a></li>
</ul>

<div th:each="notice : ${noticePage.content}">
    <form th:method="DELETE" th:action="@{'/notices/' + ${notice.id}}">
        <button type="submit">삭제</button>
    </form>
    <a th:href="@{'/edit/' + ${notice.id}}">수정</a><br>
    작성일자) <span th:text="${notice.registerDate}"></span> <br>
    최종 수정일자) <span th:text="${notice.modifyDate}"></span> <br>
    제목) <span th:text="${notice.title}"></span> <br>
    내용) <span th:text="${notice.noticeContent.content}"></span> <br>
    글쓴이) <span th:text="${notice.user.nickName}"></span> <br>
    <hr>
</div>
<a th:href="@{/edit}">글쓰기</a>
</body>
</html>