<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/head :: common"></th:block>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>회원가입</title>
</head>
<body class="ui grid">
<div class="ui container middle aligned center aligned grid" style="padding:50px 0px">
    <div class="ten wide column">
        <h2 class="ui teal image header">
            <div class="content" style="color: black">
                회원가입 정보를 입력하세요.
            </div>
        </h2>
        <form th:action="@{/users}" id="userForm" class="ui large form" th:method="POST" onsubmit="return checkForm();">
            <p th:if="${duplicationStr != null}" th:text="'이미 사용중인 값입니다. '+${duplicationStr}" style="color: red"></p>
            <div class="ui stacked segment">
                <div class="field">
                    <label style="float:left">이메일 주소</label>
                    <div class="ui left icon input">
                        <i class="envelope icon"></i><input type="email" name="email" placeholder="이메일 주소" required>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label style="float:left">비밀번호</label>
                        <div class="ui left icon input">
                            <i class="lock icon"></i><input type="password" placeholder="비밀번호" name="password"
                                                            id="password" required>
                        </div>
                    </div>
                    <div class="field">
                        <label style="float:left">비밀번호 확인</label>
                        <div class="ui left icon input">
                            <i class="lock icon"></i> <input type="password" placeholder="비밀번호 확인" name="passwordCheck"
                                                             id="passwordCheck" required>
                        </div>
                    </div>
                </div>
                <div id="passwordError"></div>
                <div>

                </div>
                <div class="field">
                    <label style="float:left">닉네임</label>
                    <div class="ui left icon input">
                        <i class="user icon"></i><input type="text" placeholder="닉네임" name="nickName" required>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <button class="ui fluid large secondary submit button">회원가입</button>
                    </div>
                    <div class="field">
                        <a class="ui fluid large button" style="float:right" href="/">취소</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
<script>
    var isValidForm = true;
    $("#passwordCheck").keyup(function checkSameVal() {
        if ($("#password").val() != $("#passwordCheck").val()) {
            $('#passwordError').html("<p style='color:red'>비밀번호와 비밀번호 확인이 같지 않습니다.</p>");
            isValidForm = false;
            return;
        }

        isValidForm = true;
        $('#passwordError').html("");
    });

    $("#password").keyup(function checkMinLength() {
            if ($("#password").val().length < 4) {
                $('#passwordError').html("<p style='color:red'>비밀번호는 최소 4글자 이상 입력해주세요.</p>");
                isValidForm = false;
                return;
            }

            isValidForm = true;
            $('#passwordError').html("");
        }
    );

    function checkForm() {
        if (!isValidForm) {
            alert("회원가입의 입력란을 확인해주세요.")
            return false;
        }
    };
</script>
</html>